body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header, footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.content, .sidebar {
    background: #e5e5e5;
    padding: 20px;
    flex: 1;
}


@media (min-width: 600px) and (max-width: 900px) {
    .main {
        flex-direction: row;
    }

    header, footer {
        padding: 30px;
        font-size: 1.4rem;
    }
}


@media (min-width: 900px) {
    .main {
        flex-direction: row;
    }

    .content {
        flex: 3;  
    }

    .sidebar {
        flex: 1; 
    }

    header, footer {
        padding: 40px;
        font-size: 1.6rem;
    }
}